@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
  margin: 0;
  padding: 0; 
  font-family: 'Roboto', sans-serif;
  /* BORDER-BOX: tells the browser to account for any border and padding in the values you specify for an element's width and height. If you set an element's width to 100 pixels, that 100 pixels will include any border or padding you added, and the content box will shrink to absorb that extra width. This typically makes it much easier to size elements. */
  box-sizing: border-box;
  cursor:default;
}


/* ---------NAVIGATION BAR STYLES--------- */
nav {
  background: white;
  padding: 5px;
  /* this box shadow lets the shadow go all the way across the bottom of the nav bar */
  -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,.1);
   box-shadow: 0 3px 6px 0 rgba(0,0,0,.1);
  position: fixed;
  width:100%;
}

nav ul {
  list-style: none;
  display:flex;
  flex-wrap: wrap;
  padding:5px;
  /* text-align: center; 
  justify-content: center; */
}

nav ul li {
  padding:15px 0;
}

nav ul li.nav_items {
  position: relative;
  width: auto;
  margin: 0 16px; 
  text-align: center; 
  order:3;
}

nav ul li.nav_items:after {
  position:absolute;
  /*CONTENT - actually helps creates those lines underneath your li elements*/
  content: '';
  left: 0;
  bottom: 5px;
  height:2px;
  width: 100%;
  background: #000;
  opacity: 0;
  transition: all 0.2s linear;
}

nav ul li.nav_items:hover:after{
  opacity: 1;
  /* BOTTOM here it is bringing that underline on hover farther to those li elements...then closer with the bottom under the selector above*/
  bottom: 8px;
}

nav ul li.logo {
  flex: 1;
  color: black;
  font-size: 23px;
  font-weight: 600;
  /* USER-SELECT In web browsers, if you double-click on some text it will be selected/highlighted. This property can be used to prevent this...CONSIDER CHANGING THIS */
  user-select: none;
  /* text-align: start; */
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  transition: .4s;
}

nav ul li:hover a{
  color: #638ffd;
}

nav ul li i{
  font-size: 40px;
}

nav ul li.btn {
  display: none;
}


@media all and (max-width: 900px){
  nav{
    padding: 5px; 
  }
  nav ul li.nav_items{
    width:100%;
    display: none;
  }
  /* NOTICE THAT SHOW IS A CLASS THAT YOU ARE INSERTING INTO THE JQUERY IN NAVBAR.JS */
  nav ul li.nav_items.show{
    display:block;
  }
  nav ul li a.routeChange.show{  
    display:block;
  }
  nav ul li.nav_items.hide{
    display:none;
  }
  nav ul li.btn {
    display: block;
    order:1;
  }
  nav ul li.logo {
    display: none;
  }
  nav ul li.nav_items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px #efefef, 
                inset 0 0 10px #e7e7e7;
  }
  nav ul li.nav_items:hover:after{
    opacity: 0;
  }
}


/*--------START SECTION STYLES IN HOME.JS--------------*/

#start {
  padding-top: 30px;
  height: 75vh; 
  background-image:url('/./startpic.png');
  background-color:white;
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
}

#start_content{
  padding-top: 100px; /*you have to mess around with this*/
  font-size: 25px;
  margin: 30px;
  width:75%;
}

#start_btn{
  background-color: cornflowerblue;
  padding: 10px 30px;
  margin-top: 60px;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  border-radius: 20px;
  font-weight: 900;
  color: white;

}

@media all and (max-width: 990px){

  #start article{
    font-size: 18px;
  }
  #start{
    background-image:none;
    font-size: 10%;
  }
  #start_btn{
    font-size: 15px;
  }
}

/*-- second section start --*/ 

#about_home{
  height: 500px; 
  background-color: lightblue;
  display: flex;
  align-items: center;
  
}

#about_home h1{
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
}

#about_home article{
  padding: 0px 60px;
  font-size: 25px;
}

#about_home_btn{
  background-color: goldenrod;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 25px;
  border-radius: 20px;
  margin: 30px;
  padding: 10px 30px;
  display:flex;
  align-items: center;
  justify-content: center;
  float:right;
  margin-right: 60px;

}

@media all and (max-width: 990px){

  #about_home article{
    font-size:13px;
  }
  #about_home h1{
    font-size: 17px;
  }
  #about_home_btn{
    font-size: 13px;
  }
}

/*-------------------------------------SECTION 3 START------------------------------*/

#how_to{
  height:1000px;
}

#how_to h1{
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
}

#yogagirl {
  width: 42%;
  height:42%;
  margin-right: -30px;
}

 #how_to article{
  display: flex;
  justify-content: space-between;
}

#how_to div {
  font-size: 30px;
  margin: 20px;
  padding:10px 60px;
}

/* .container {
  margin: 0 auto;
}

#how_to .container {
  display: flex;

}

.content article{
  width:50%;
  margin: 0;
}  */



  