/* yummy off-white: #fefdfb */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
  margin: 0;
  padding: 0; 
  font-family: 'Roboto', sans-serif;
  /* BORDER-BOX: tells the browser to account for any border and padding in the values you specify for an element's width and height. If you set an element's width to 100 pixels, that 100 pixels will include any border or padding you added, and the content box will shrink to absorb that extra width. This typically makes it much easier to size elements. */
  box-sizing: border-box;
}


/* ---------NAVIGATION BAR STYLES--------- */
nav {
  background: #e7e7e7;
  padding: 5px;
}

nav ul {
  list-style: none;
  display:flex;
  flex-wrap: wrap;
  /* text-align: center; 
  justify-content: center; */
}

nav ul li {
  padding:15px 0;
  cursor: pointer; 
}

nav ul li.nav_items {
  position: relative;
  width: auto;
  margin: 0 16px; 
  text-align: center; 
  order:3;
}

nav ul li.nav_items:after {
  position:absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height:2px;
  width: 100%;
  background: #000;
  opacity: 0;
  transition: all 0.2s linear;
}

nav ul li.nav_items:hover:after{
  opacity: 1;
  /* BOTTOM here it is bringing that underline on hover farther to those li elements...then closer with the bottom under the selector above*/
  bottom: 8px;
}

nav ul li.logo {
  flex: 1;
  color: black;
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  /* USER-SELECT In web browsers, if you double-click on some text it will be selected/highlighted. This property can be used to prevent this. */
  user-select: none;
  /* text-align: start; */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: .4s;
}

nav ul li:hover a{
  color: cyan;
}

nav ul li i{
  font-size: 40px;
}

nav ul li.btn {
  display: none;
}

nav ul li.btn.show:before {
  display: none;
  content: '\f00d';
}

@media all and (max-width: 900px){
  nav{
    padding: 5px 30px; 
  }
  nav ul li.nav_items{
    width:100%;
    display: none;
  }
  nav ul li.nav_items.show{
    display:block;
  }
  nav ul li.btn {
    display: block;
  }
  nav ul li.nav_items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px #33ffff, 
                inset 0 0 10px #66ffff;
  }
  nav ul li.nav_items:hover:after{
    opacity: 0;
  }
}